.button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    font-weight: 300;
}

.btn--primary {
    background-color: rgb(255, 66, 78);
    color: #fff;
}

.toast-title {
    font-size: 1.4rem;
}
