.custom-container {
    max-width: 1440px; /* Chỉnh lại theo kích thước bạn muốn */
    margin: 0 auto;
    padding: 0 15px 60px;
}
.main {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px 0 12px;
    position: sticky;
    top: 12px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px;
}

.image {
    width: 100%;
    object-fit: contain;
    border: 1px solid #ebebf0;
    border-radius: 8px;
}

.slider {
    display: flex;
    justify-content: space-between;
    a {
        display: block;
        border-radius: 4px;
        padding: 5px;
        border: 1px solid #ebebf0;
        &:hover {
            outline: auto;
        }
    }
}

.slider-img {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.highlight {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px 60px;
}
.highlight-title {
    font-weight: 600;
}

.highlight-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.highlight-body {
    display: flex;
    flex: 1 1;
    overflow: hidden;
    gap: 8px;
    color: var(--alias-primary-on-theme, #27272a);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    img {
        margin-top: 4px;
    }
}

.highlight-info {
    font-size: 1.4rem;
}

.summorize {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 0;
    border-top: 1px solid #ebebf0;
    bottom: 12px;
}

.summorize-body {
    display: flex;
    align-items: center;
}

.more {
    color: #808089;
}
.summorize-text {
    font-size: 1.4rem;
    margin-left: 8px;
}

.summorize-icon {
    color: #808089;
    margin-right: 8px;
    font-size: 1.6rem;
}

// content infor
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 584px;
}
// common
.info,
.info-detail,
.description {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.author {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    flex-wrap: wrap;
}

.author-link {
    margin-left: 4px;
    color: #0d5cb6;
}
.title {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%;
    word-break: break-word;
    white-space: break-spaces;
}
.rating {
    display: flex;
    align-items: center;
}
.star {
    padding-bottom: 3px;
}
.rating-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.4rem;
    .rating-average {
        font-weight: 600;
        color: #27272a;
    }

    .review-count {
        color: #808089;
    }
}
.star {
    display: flex;
    margin-top: 3px;
}
.star-gold {
    margin-right: 2px;
    font-size: 1.2rem;
    color: #ffce3e;
}
.sold {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 14px;
    color: #808089;
}
.separate {
    position: absolute;
    border-left: 2px solid #c7c7c7;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -8px;
}
.price {
    position: relative;
}
.priceVND {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 66, 78);
}

.discount {
    position: absolute;
    background-color: #f5f5fa;
    border-radius: 1000px;
    font-size: 1.2rem;
    margin-left: 10px;
    padding: 0 4px;
    transform: translateY(40%);
}

.detail {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid rgb(235, 235, 240);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: rgb(39, 39, 42);
    gap: 8px;
    .detail-left {
        color: #808089;
        width: 100%;
        max-width: 300px;
    }
    .detail-right {
        width: 100%;
        color: var(--text-color);
    }
    &:last-child {
        border-bottom: none;
    }
}
.info-title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 150%;
}

.description {
    .description-wrapper {
        padding-top: 8px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 1.4rem;
    }
    img {
        width: 100%;
        height: auto;
    }
    p {
        margin-top: 5px;
        margin-bottom: 12px;
        line-height: 21px;
        word-break: break-word;
    }

    ul,
    ol {
        padding: 0;
        list-style: none;
    }
}
// Pay

.pay {
    position: sticky;
    top: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    width: 360px;
}
.price-pay {
    font-size: 2.4rem;
    font-weight: 600;
}
.quantity-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group-input {
    display: flex;
    .input {
        text-align: center;
        font-size: 1.4rem;
        height: 32px;
        width: 40px;
        margin: 0px 4px;
        border-radius: 4px;
        outline: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border: 1px solid rgb(166, 166, 176);
        background: white;
    }
    .input:focus {
        border-color: rgb(102, 175, 237);
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px;
    }
    .minus,
    .plus {
        border: 1px solid #a6a6b0;
        outline: none;
        border-radius: 4px;
        color: #808089;
        font-size: 1.4rem;
        padding: 2px;
        width: 34px;
        background-color: #fff;
    }
}

.group-button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .button {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid transparent;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.4;
        font-weight: 300;
    }
    .button:hover {
        opacity: 0.8;
    }
    .btn--primary {
        background-color: rgb(255, 66, 78);
        color: #fff;
    }

    .btn--normal {
        border: 1px solid var(--primary);
        color: var(--primary);
        background-color: #fff;
    }
}

.isDisabled {
    opacity: 0.2;
}

// màn hình mobile

.header-detail-mobile {
    --height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    height: var(--height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
}
.icon-wrapper {
    display: flex;
    align-items: center;
}
.icon-boundary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.38);
    color: #fff;
    font-size: 1.4rem;
}
.img-wrapper {
    display: flex;
    width: 100%;
    height: 56vh;
    background-color: #ffffff;
    padding: 16px 0;
}
.detail-img {
    margin: 0 auto;
    width: 70%;
    object-fit: contain;
    border: 1px solid #cbbfbf;
}

// toast message

.toast-message {
    margin-top: 60px;
    margin-right: 30px;
    display: block;
}
